@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Source+Sans+Pro&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
 --brand: 172, 67%, 45%;
 --text: 183, 100%, 15%;
 --neutral1: 186, 14%, 43%;
 --neutral2: 184, 14%, 56%;
 --neutral3: 185, 41%, 84%;
 --neutral4: 189, 41%, 97%;
 --White: 0, 0%, 100%;

 /*utils*/
 --padding: clamp(2rem, 5vw, 4rem)
}

body{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 24px;
  font-Weight: 700px;
  background-color: hsl(var(--neutral3));
}

.wrapper{
  display: grid;
  place-items: center;
  gap: 2rem;
  margin: 1rem;
}

.container{
  padding: var(--padding);
  background: hsl(var(--White));
  border-radius: 2rem;
  box-shadow: 0 1rem 55rem hsl(var(--neutral5) / .5);
  display: grid;
  grid-auto-flow: column;
  gap: clamp(2rem, 5vw, 4rem);
  gap: var(--padding);
}

/* .form{

} */

.display{
  background-color: hsl(var(--text));
  border-radius: 15px;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-group{
  display: grid;
  gap: var(--padding);
}

.display-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding);
  text-align: left;
}

.display-label{
  display: grid;
  justify-items: start;
}

.header{
  color: hsl(var(--neutral4));
  font-size: 1.5rem;
}

.unit{
  color: hsl(var(--neutral2));
  font-size: .8rem;
}

.display-amt{
  font-size: 2.5rem;
  color: hsl(var(--brand));
}

.btn{
  font: inherit;
  color: aqua;
  background-color: hsl(var(--brand));
}
